<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">icono</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Sexo</th>
      <th scope="col">Edad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of person">
      <th scope="row"><i class="{{ person.icono }}"></i></th>
      <td>{{ person.nombre }}</td>
      <td>{{ person.correo}}</td>
      <td>{{ person.sexo }}</td>
      <td>{{ person.edad }}</td>
    </tr>
  </tbody>
</table>